
[Libraries]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

[Visual Studio]
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

[Unity]
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

[Mac]
.DS_Store

[Windows]
Thumbs.db
desktop.ini

[Git]
*.swp
*.lock
